.title, .theme--dark .badge--dev.badge, .theme--default .badge--dev.badge, .theme--dark .badge--design.badge, .theme--default .badge--design.badge {
  font-family: "Montserrat-SemiBold", "Montserrat", "Open Sans", "Helvetica", "Arial", "sans-serif";
  font-weight: 700;
}

.img--clickable, .ril__image--clickable, .ril__imagePrev--clickable, .ril__imageNext--clickable {
  transition: transform 0.5s;
  cursor: pointer;
}
.img--clickable::after, .ril__image--clickable::after, .ril__imagePrev--clickable::after, .ril__imageNext--clickable::after {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  content: "";
  opacity: 0;
  z-index: -1;
}
.img--clickable:hover, .ril__image--clickable:hover, .ril__imagePrev--clickable:hover, .ril__imageNext--clickable:hover, .img--clickable:focus, .ril__image--clickable:focus, .ril__imagePrev--clickable:focus, .ril__imageNext--clickable:focus {
  transform: scale3d(1.006, 1.006, 1);
}
.img--clickable:hover::after, .ril__image--clickable:hover::after, .ril__imagePrev--clickable:hover::after, .ril__imageNext--clickable:hover::after, .img--clickable:focus::after, .ril__image--clickable:focus::after, .ril__imagePrev--clickable:focus::after, .ril__imageNext--clickable:focus::after {
  opacity: 1;
}

.title, .theme--dark .badge--dev.badge, .theme--default .badge--dev.badge, .theme--dark .badge--design.badge, .theme--default .badge--design.badge {
  font-family: "Montserrat-SemiBold", "Montserrat", "Open Sans", "Helvetica", "Arial", "sans-serif";
  font-weight: 700;
}

.img--clickable, .ril__image--clickable, .ril__imagePrev--clickable, .ril__imageNext--clickable {
  transition: transform 0.5s;
  cursor: pointer;
}
.img--clickable::after, .ril__image--clickable::after, .ril__imagePrev--clickable::after, .ril__imageNext--clickable::after {
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  -moz-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: opacity 2s cubic-bezier(0.165, 0.84, 0.44, 1);
  content: "";
  opacity: 0;
  z-index: -1;
}
.img--clickable:hover, .ril__image--clickable:hover, .ril__imagePrev--clickable:hover, .ril__imageNext--clickable:hover, .img--clickable:focus, .ril__image--clickable:focus, .ril__imagePrev--clickable:focus, .ril__imageNext--clickable:focus {
  transform: scale3d(1.006, 1.006, 1);
}
.img--clickable:hover::after, .ril__image--clickable:hover::after, .ril__imagePrev--clickable:hover::after, .ril__imageNext--clickable:hover::after, .img--clickable:focus::after, .ril__image--clickable:focus::after, .ril__imagePrev--clickable:focus::after, .ril__imageNext--clickable:focus::after {
  opacity: 1;
}

.app {
  text-align: center;
}

.loading {
  color: #cac3bc;
  margin-top: calc(50vh - 20px);
  text-align: center;
}

html {
  overflow-y: auto;
  overflow-x: hidden;
}

html, body {
  font-family: "Open Sans", "Helvetica", "Arial", "sans-serif";
  background: #272b38;
  font-size: 20px;
  line-height: 1.6;
  font-weight: normal;
}
html p, body p {
  white-space: pre-line;
  font-size: 20px;
}
.theme--default html p, .theme--default body p {
  color: #3e4e53;
}
.theme--dark html p, .theme--dark body p {
  color: #cac3bc;
}
html ::selection, body ::selection {
  background-color: rgba(67, 118, 163, 0.9);
  color: #fff;
}
@media (max-width: 1199px) {
  html, body {
    font-size: 18px;
    line-height: 27px;
  }
  html p, body p {
    font-size: 18px;
  }
}
html a:hover, body a:hover {
  text-decoration: none;
}

.theme {
  height: 100vh;
  width: 100%;
}

.theme--default .base {
  color: #3e4e53;
  background: #F5F4F3;
}
.theme--dark .base {
  color: #cac3bc;
  background: #272b38;
}
.base:after {
  content: "";
  position: fixed;
  width: 100%;
  overflow-y: auto;
  min-height: 100vh;
}
.theme--default .base:after {
  background: #F5F4F3;
}
.theme--dark .base:after {
  background: #272b38;
}
.base__page {
  margin: 0 auto;
  min-height: 100vh;
  margin-bottom: -60px;
  padding: 50px 120px 65px;
}
.base__page:after {
  content: "";
  display: block;
  height: 60px;
}
@media (max-width: 1199px) {
  .base__page {
    padding: 65px;
  }
}
@media (max-width: 767px) {
  .base__page {
    padding: 0 40px 40px;
  }
}

.theme--default .text--blue {
  color: #4376A3;
}
.theme--dark .text--blue {
  color: #7aa3c8;
}

.theme--default .text--red {
  color: #b45139;
}
.theme--dark .text--red {
  color: #ca6d56;
}

.badge {
  background: transparent;
  font-weight: normal;
  margin-right: 3px;
  font-size: 16px;
  padding: 0 6px 3px 0;
  text-transform: lowercase;
  border-radius: 15px;
}
.theme--default .badge--design.badge {
  color: #4376A3;
}
.theme--dark .badge--design.badge {
  color: #7aa3c8;
}
.theme--default .badge--dev.badge {
  color: #b45139;
}
.theme--dark .badge--dev.badge {
  color: #ca6d56;
}
.theme--default .badge {
  color: #3e4e53;
}
.theme--dark .badge {
  color: #cac3bc;
}

.title {
  font-size: 40px;
  line-height: 1.1;
}
.theme--default .title {
  color: #242D30;
}
.theme--dark .title {
  color: #E8E4E0;
}

.body {
  display: flex;
  margin-top: -10px;
  overflow: hidden;
  word-break: break-word;
}

@media (max-width: 1199px) {
  .body, .navbar.header {
    padding: 8.3333333333px 0;
  }
}

.spacer {
  display: block;
  width: 100%;
}
.spacer--default {
  height: 50px;
}
.spacer--smallest {
  height: 8.3333333333px;
}
.spacer--small {
  height: 25px;
}

.img, .ril__image, .ril__imagePrev, .ril__imageNext {
  background-color: #f7f7f6;
}
.theme--default .img, .theme--default .ril__image, .theme--default .ril__imagePrev, .theme--default .ril__imageNext {
  border: 1px solid #e0ddda;
}
.theme--dark .img, .theme--dark .ril__image, .theme--dark .ril__imagePrev, .theme--dark .ril__imageNext {
  border: 1px solid #4b5061;
}
.img--mobile-preview, .ril__image--mobile-preview, .ril__imagePrev--mobile-preview, .ril__imageNext--mobile-preview {
  margin: 0 auto;
  max-width: 460px;
  border-color: transparent !important;
}
.img--clickable, .ril__image--clickable, .ril__imagePrev--clickable, .ril__imageNext--clickable {
  cursor: pointer;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.tableau-viz > div {
  background-color: #f7f7f6;
}
.theme--default .tableau-viz > div {
  border: 1px solid #e0ddda;
}
.theme--dark .tableau-viz > div {
  border: 1px solid #4b5061;
}
.tableau-viz > div iframe {
  width: 100%;
  min-width: 100%;
}

.footer {
  height: 60px;
  font-size: 15px;
  text-align: center;
}
.footer__divider {
  margin: 0 10px;
}
.footer__social .social-icon {
  margin: 0 0 0 5px;
}
.footer__social .social-icon:hover {
  opacity: 0.9;
}

/*# sourceMappingURL=theme.css.map */
