<!-- Load scripts last for performance reasons -->

<!-- Do the following actions on document load event -->
<script>
    window.addEventListener('load', (event) => {
        // fix display of typing headline elements
        let wrapper = document.getElementsByClassName('ah-words-wrapper');
        if (wrapper !== undefined) {
            wrapper[0].style.hidden = false;
            let children = wrapper[0].children;
            for (i=0; i < wrapper[0].children.length; i++) {
                wrapper[0].children[i].style.display = "inline";
            }
        }

        // enable Bootstrap tooltips
        $(function() {
            $('[data-toggle="tooltip"]').tooltip()
        });

        // enable Bootstrap popovers
        $(function() {
            $('[data-toggle="popover"]').popover()
        });

        var skillsList = new List('skills', {
            valueNames: ['skill-tag']
        });

        // init animated headline
        $(function() {
            $('.selector').animatedHeadline({
                animationType: 'type'
            });
        })

        // init aos library
        AOS.init();
    });
</script>

<script type="module" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js" crossorigin="anonymous" defer></script>

<script src="/js/app.js" defer></script>
