<!-- Acknowledgements Modal -->
<div class="modal fade" id="acknowledgementsModal" tabindex="-1" role="dialog" aria-labelledby="acknowledgementsModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="acknowledgementsModalLongTitle">Acknowledgements</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Many thanks to the many great developers who have produced top-notch libraries, released useful code snippets and posted about the caveats/pitfalls/gotchas, without whom this website would have taken ten times as long, been
                a lot worse looking and frustrated me to the point of quitting!
                <br>
                <br>
                Specifically, a special thanks to:
                <ul>
                    <li><a href="https://getbootstrap.com/">The Bootstrap devs</a></li>
                    <li><a href="https://codepen.io/">The many authors of CodePen</a></li>
                    <li><a href="https://fontawesome.com/icons">Font Awesome</a>, <a href="https://fontisto.com/icons">Fontisto</a>, <a href="https://lineicons.com/icons/">LineIcons</a>, <a href="https://ionicons.com/">IonIcons</a> &amp; <a href="https://material.io/resources/icons/">Material Icons</a></li>
                    <li><a href="https://formspree.io">Formspree for free form submissions</a></li>
                </ul>
                <br>
                As well as the many devs toiling behind the scenes 👍
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>