<section>
    <div id="contact">
        <div class="container contact-form">
            <div class="contact-image">
                <img src="https://www.svgrepo.com/show/112907/speech-bubbles.svg" alt="" />
            </div>
            <form method="post">
                <h3>Drop me a line</h3>
                <div class="team-single-icons-alt row text-center">
                    <ul class="no-margin">
                        <li><a href="tel://+44{{ data.common.phone }}"><i class="fas fa-mobile-alt"></i></a></li>
                        <li><a href="https://linkedin.com/in/liam-matthew-deacon"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="mailto://liam.deacon@lightbytestechnology.co.uk"><i class="fas fa-envelope"></i></a></li>
                        <li><a href="https://api.whatsapp.com/send?phone={{ data.common.phone }}&text=Hi%20Liam"><i class="fab fa-whatsapp"></i></a></li>
                        <li><a href="https://join.skype.com/invite/aChf1z3WHJuV"><i class="fab fa-skype"></i></a></li>
                    </ul>
                    <br>
                    <br>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="text" name="txtName" class="form-control" placeholder="Your Name *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="txtEmail" class="form-control" placeholder="Your Email *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="text" name="txtPhone" class="form-control" placeholder="Your Phone Number *" value="" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <textarea name="txtMsg" class="form-control" placeholder="Your Message *" style="width: 100%; height: 150px;"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <input type="submit" name="btnSubmit" class="btnContact" value="Send Message" />
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section> <!-- sections -->
