<footer>
    <div class="container container-fluid">
        <h3>Companies I have worked with</h3>
        <div id="companies">
            {%- for company in data.footer.companies -%}
            <img src="{{ company.logo }}" alt="" href="{{ company.link }}" data-html="true" data-toggle="popover" title="{{ company.name }}<br><br>{{ company.description }}"/>
            {% endfor %}
        </div>
        <br><br>
        <hr>
        <h3>Technology stack used for this site</h3>
        <div id="tech">
            {%- for tech in data.footer.stack -%}
            <img src="{{ tech.logo }}" alt="" href="{{ tech.link }}" data-html="true" data-toggle="popover" title="{{ tech.name }} - {{ tech.description }}"/>
            {% endfor %}
        </div>
        <hr>
        <span style="font-size: larger">If you 💖 this page, then please consider leaving a star at <a href="https://github.com/liam-deacon/liam-deacon/github.io"><i class="fi fi-github"></i></a></span>
    </div>
    <b>Copyright &copy; 2020 Liam Deacon</b> | Some rights reserved | <u onclick="$('#termsOfUseModal').modal('show');">Terms of Use</u> | <u onclick="$('#acknowledgementsModal').modal('show');">Acknowledgements</u>
</footer>