<footer>
    <div class="container container-fluid">
        <h3>Companies I have worked with</h3>
        <div id="companies">
            {%- for company in data.footer.companies -%}
            <img src="{{ company.logo }}" alt="" href="{{ company.link }}" data-html="true" data-toggle="tooltip" title="{{ company.name }}<br><br>{{ company.description }}"/>
            {% endfor %}
        </div>
        <br><br>
        <hr>
        <h3>Technology stack used for this site</h3>
        <div id="tech">
            {%- for tech in data.footer.stack -%}
            <img src="{{ tech.logo }}" alt="" href="{{ tech.link }}" data-html="true" data-toggle="tooltip" title="{{ tech.name }} - {{ tech.description }}"/>
            {% endfor %}
            <br>
            <a class="text-muted" href="{{ data.common.repo }}/tree/dev"><small><i class="fas fa-eye">&nbsp;</i>View source</small></a>
        </div>
        <hr>
        <span style="font-size: larger">If you 💖 this page, then please consider leaving a ⭐ at <a href="{{ data.common.repo }}"><i class="fi fi-github"></i></a></span>
    </div>
    <b>Copyright &copy; 2020 {{ data.common.name }}</b> | Some rights reserved | <u onclick="$('#termsOfUseModal').modal('show');">Terms of Use</u> | <u onclick="$('#acknowledgementsModal').modal('show');">Acknowledgements</u>
</footer>