<footer>
    <div class="container container-fluid">
        <h3>Companies I have worked with</h3>
        <img src="https://www.diamond.ac.uk/dam/jcr:065263ac-e27e-4ed1-b6fe-4cfdf71d8fe6/dls_logo.2020-02-21-14-12-04.png"/>
        <img src="https://upload.wikimedia.org/wikipedia/commons/a/a0/Reading_shield.png"/>
        <img src="https://upload.wikimedia.org/wikipedia/commons/a/ad/HP_logo_2012.svg"/>
        <img src="https://upload.wikimedia.org/wikipedia/commons/4/46/Hewlett_Packard_Enterprise_logo.svg"/>
        <img src="https://upload.wikimedia.org/wikipedia/en/4/4c/NATS_logo.svg"/>
        <img src="https://upload.wikimedia.org/wikipedia/commons/b/b5/Alan_Turing_Institute_logo.svg"/>
        <br><br>
        <hr>
        <h3>Technology stack used for this site</h3>
        <div>
            {%- for tech in data.footer.stack -%}
            <img src="{{ tech.logo }}" alt="" href="{{ tech.link }}" title="{{ tech.name }} - {{ tech.description }}"/>
            {% endfor %}
        </div>
        <hr>
        <span style="font-size: larger">If you 💖 this page, then please consider leaving a star at <a href="https://github.com/liam-deacon/liam-deacon/github.io"><i class="fi fi-github"></i></a></span>
    </div>
    <b>Copyright &copy; 2020 Liam Deacon</b> | Some rights reserved | <u onclick="$('#termsOfUseModal').modal('show');">Terms of Use</u> | <u onclick="$('#acknowledgementsModal').modal('show');">Acknowledgements</u>
</footer>