<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Turn off caching -->
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
        
    <!-- Add a little personal touch -->
    <title>{{ data.common.name }} | {{ data.common.punchline }}</title>
    <meta name="description" content="Hi! I’m a developer &amp; data scientist who likes to code. I’m interested in AI, technology, video games and lots of other stuff.">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ data.common.pic }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ data.common.pic }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ data.common.pic }}">
    
    <!--<link rel="manifest" href="/src/images/favicon/site.sitewebmanifest">-->
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,600|Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <!-- <link rel="stylesheet" href="css/theme.css"> -->

</head>