<!-- LaunchPad section -->
<section id="launchpad">
    <div class="selector" style="padding-top: 40px">
         <br><br>
         <h1 class="ah-headline">
            <span>Liam Deacon</span><br>&nbsp;   
            <span class="ah-words-wrapper">
                <b class="is-visible" style="color: orange">Software Engineer&nbsp;</b>
                <b style="color: goldenrod">Data Scientist&nbsp;</b>
                <b style="color: #E9DD6C">Web Developer&nbsp;</b>
                <b style="color: #E96208">Researcher&nbsp;</b>
            </span>
        </h1>
    </div>

    <div class="css-typing">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hello there, I'm Liam!</p>
        <p>Please scroll down to learn more...</p>
    </div>

    <div class="content">
        {% for card in data.launchpad.cards %}
        <!-- card {{ loop.index }} -->
        <div class="card">
            <a href="#{{ card.id }}">
                <div class="icon"><i class="material-icons md-36">{{ card.icon }}</i></div>
                <p class="title">{{ card.id | capitalize }}</p>
                <p class="text">{{ card.description }}</p>
            </a>
        </div> <!-- card {{ loop.index }} -->
        {% endfor %}
    </div>
    <br>
</section> <!-- LaunchPad section -->
