<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <span class="navbar-brand" href="#" data-toggle="tooltip" data-placement="bottom" data-html="true" title="Read on to find out about who I am and what I do..."><i class="fi fi-male">&nbsp;</i>Liam Deacon <i class="fi fi-angle-dobule-right normal"></i></span>
        </div>
        <ul class="nav navbar-nav">
            <li class="active">
                <a href="#launchpad">
                    <i class="lni lni-rocket">&nbsp;</i>Launchpad
                </a>
            </li>
            <li>
                <a href="#profile">
                    <i class="lni lni-support">&nbsp;</i>Profile
                </a>
            </li>
            <li>
            <!-- <li class="dropdown"> -->
                <a href="#projects"><i class="lni lni-construction">&nbsp;</i>Projects</a>
                {#
                <!-- <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="lni lni-construction">&nbsp;</i>Projects
                    <span class="caret"></span></a> -->
                <!-- <ul class="dropdown-menu">
                    <li><a href="#"><i>
                                <ion-icon name="construct-outline"></ion-icon>&nbsp;
                            </i>Software Engineering</a></li>
                    <li><a href="#"><i class="fi fi-laboratory normal">&nbsp;</i>Data Science</a></li>
                    <li><a href="#"><i>
                                <ion-icon name="library-outline"></ion-icon>&nbsp;
                            </i>Education</a></li>
                    <li><a href="#"><i class="lni lni-code">&nbsp;</i>Web Development</a></li>
                    <li><a href="#"><i><svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 24 24">
                                    <path d="M19.479 10.092c-.212-3.951-3.473-7.092-7.479-7.092s-7.267 3.141-7.479 7.092c-2.57.463-4.521 2.706-4.521 5.408 0 3.037 2.463 5.5 5.5 5.5h13c3.037 0 5.5-2.463 5.5-5.5 0-2.702-1.951-4.945-4.521-5.408zm-8.479 3.475l-2.229.933 2.229.93v1.57l-4-1.701v-1.599l4-1.7v1.567zm6 1.732l-4 1.701v-1.57l2.229-.93-2.229-.933v-1.567l4 1.701v1.598z" /></svg>&nbsp</i>DevOps & Cloud</a></li>
                </ul> --> #}
            </li>
            <li>
                <a href="#contact">
                    <i class="fi fi-commenting normal">&nbsp;</i>Contact
                </a>
            </li>
            <li class="theme-toggle header-link">
                <a href="#" >
                    <!-- Rounded switch -->
                    <i class="theme-icon lni lni-sun"></i>&nbsp;Theme:&nbsp;
                    <label class="switch" title="Toggle Night Mode" >
                        <input id="theme" type="checkbox">
                        <span class="slider round"></span>
                    </label>
                </a>
            </li>

        </ul>
    </div>
</nav>