<!-- Portfolio Section-->
<section class="portfolio" id="projects">
    <div style="padding-top: 200px;">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h1 class="headline text-center text-uppercase text-secondary mb-0">Portfolio</h1>
        
        <!-- Portfolio Grid Items-->
        <div class="row">
            {%- for project in data.portfolio.projects -%}
            <!-- Portfolio Item{{ loop.index }}: {{ project.name }} --> 
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto text-center" data-toggle="modal" data-target="#portfolioModal{{ project.name | capitalize }}">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <div class="hovereffect">
                        <img class="img-responsive mx-auto d-block" src="{{ project.image }}" alt="">
                        <div class="overlay">
                            <h2>{{ project.name }}</h2>
                            <span>{{ project.tagline }}</span><br>
                            <a class="info" href="{{ project.link }}">Source Code</a>
                        </div>
                    </div>
                    {# <img class="img-fluid" src="{{ project.image }}" alt="" /> #}
                    <br>
                    <h4 class="text-center justify-content-center">{{ project.name }}<a href="{{ project.link }}" >&nbsp;<i class="fas fa-external-link-alt"></i></a></h4>
                </div>
                <br>
                <br>
            </div>
            {% endfor %}
        </div>
    </div> <!-- container -->
    </div>
</section> <!-- Portfolio -->
