<!-- Portfolio Section-->
<section class="portfolio" id="projects" style="padding-top: 200px;">
    {# <p>Here are some projects I have worked on. Some are under NDA and therefore I can discuss #}
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h1 class="headline text-center text-uppercase text-secondary mb-0">Portfolio</h1>
        
        <!-- Portfolio Grid Items-->
        <div class="row text-center">
            {%- for project in data.portfolio.projects -%}
            <!-- Portfolio Item{{ loop.index }}: {{ project.name }} --> 
            <div class="">
                <div class="text-center" data-toggle="modal" data-target="#portfolio_modal_{{ project.name | lower }}">
                    <div class="hovereffect">
                        <img class="mx-auto d-block" src="{{ project.image }}" alt="">
                        <div class="overlay">
                            <h2>{{ project.name }}</h2>
                            <span>{{ project.tagline }}</span><br>
                            <a class="info">More info</a>
                        </div>
                    </div>
                    {# <img class="img-fluid" src="{{ project.image }}" alt="" /> #}
                    <br>
                    <h4 class="text-center justify-content-center">{{ project.name }}<a href="{{ project.link }}" >&nbsp;<i class="fas fa-external-link-alt"></i></a></h4>
                </div>
                <br>
                <br>
            </div>
            {% endfor %}
        </div>
    </div> <!-- container -->
</section> <!-- Portfolio -->

{%- for project in data.portfolio.projects -%}
<!-- Acknowledgements Modal -->
<div class="modal fade" id="portfolio_modal_{{ project.name | lower }}" tabindex="-1" role="dialog" aria-labelledby="acknowledgementsModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">{{ project.name }}</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <img class="popup-image" src="{{ project.image }}"/>
                {{ project.description }}
                <br>
                <h4 style="font-size: medium"><i class="fa fa-tag">&nbsp;</i>Tags</h4>
                <ul class="list">
                    {%- for tag in project.tags -%}
                    <li><button class="skill-tag" data-html="true" data-placement="bottom" data-toggle="popover" title="<b>{{ skill.title | safe }}</b>" data-content="{{ skill.popover.image | safe }}{{ skill.popover.description | safe }}">{{ tag | safe }}</button></li>
                    {% endfor %}<br>
                </ul>
            </div>
            <div class="modal-footer">
                {%- if project.link -%}
                <a href="{{ project.link }}"><button type="button" class="btn btn-secondary"><i class="fa fa-github">&nbsp;</i>Source Code</button></a>
                {% endif %}
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endfor %}