<section id="profile">
    <div id='sections' style="padding-top: 200px;">
        <div class="container">
            <h1 class="headline page-section-heading text-center text-uppercase text-secondary mb-0">Profile</h1>
            <div class="team-single">
                <div class="row">

                    <div class="col-lg-4 col-md-5 xs-margin-30px-bottom">
                        <div class="team-single-img">
                            <img class="profile-img" src="https://media-exp1.licdn.com/dms/image/C5603AQHVdBBP-nHQ5g/profile-displayphoto-shrink_400_400/0?e=1600300800&v=beta&t=7UcGQumv_GmWneF6aT2QR9tH7KoyT4d0-hc65KzeuqY" alt="">
                        </div>
                        <div class="bg-light-gray padding-30px-all md-padding-25px-all sm-padding-20px-all text-center">
                            <h4 class="font-size38 sm-font-size32 xs-font-size30">Liam Deacon</h4>
                            <h4 class="margin-10px-bottom font-size24 md-font-size22 sm-font-size20 font-weight-600">Software Consultant</h4>
                            <p class="sm-width-95 sm-margin-auto">I am a natural tinkerer&#44; technology enthuisiast and life-long learner! <br>I love challenges and take pride in the work that I do 🚀</p>
                            <div class="margin-20px-top team-single-icons">
                                <ul class="no-margin">
                                    <li><a href="https://github.com/Liam-Deacon"><i class="fab fa-github"></i></a></li>
                                    <li><a href="https://linkedin.com/in/liam-matthew-deacon"><i class="fab fa-linkedin"></i></a></li>
                                    <li><a href="https://stackoverflow.com/users/2318834/liam-deacon"><i class="fab fa-stack-overflow"></i></a></li>
                                    <li><a href="https://www.hackerrank.com/liam_m_deacon?hr_r=1"><i class="fab fa-hackerrank"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-medium"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8 col-md-7">
                        <div class="team-single-text padding-50px-left sm-no-padding-left">
                            <br>
                            <h4 class="margin-10px-bottom font-size24 md-font-size22 sm-font-size20 font-weight-600">About Me</h4>
                            <p class="no-margin-bottom">I'm a versatile researcher and software engineer who enjoys working on interesting ideas and concepts. </p>
                            <div class="contact-info-section margin-40px-tb">
                                <ul class="list-style9 no-margin">
                                    <li>
                                        <div class="row">
                                            <div class="col-md-5 col-5">
                                                <i class="fas fa-graduation-cap text-orange"></i>
                                                <strong class="margin-10px-left text-orange">Education:</strong>
                                            </div>
                                            <div class="col-md-7 col-7">
                                                <p><u class="dotted_underline">PhD</u> Chemistry & <u class="dotted_underline">BSc</u> (Hons) Physics (First Class)</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-md-5 col-5">
                                                <i class="far fa-gem text-yellow"></i>
                                                <strong class="margin-10px-left text-yellow">Experience:</strong>
                                            </div>
                                            <div class="col-md-7 col-7">
                                                <p>10+ Years in <u class="dotted_underline">data analysis<span>&nbsp;<i class="lni lni-stats-up"></i></span></u>, <u class="dotted_underline">programming<span> <i class="fas fa-code"></i></span></u> and <u class="dotted_underline">software engineering<span> <i class="fas fa-code-branch"></i></span></u></p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-md-5 col-5">
                                                <i class="fas fa-walking text-lightred"></i>
                                                <strong class="margin-10px-left text-lightred">Hobbies:</strong>
                                            </div>
                                            <div class="col-md-7 col-7">
                                                <p>Rasperry Pi & IoT <i class="fas fa-microchip"></i>,
                                                    Dogs <i class="fas fa-dog"></i>, Board Games <i class="fas fa-dice"></i>, Video Games <i class="fas fa-gamepad"></i> and Adventure <i class="fas fa-hiking"></i></p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-md-5 col-5">
                                                <i class="fas fa-map-marker-alt text-green"></i>
                                                <strong class="margin-10px-left text-green">Address:</strong>
                                            </div>
                                            <div class="col-md-7 col-7">
                                                <p>Hampshire, UK.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-md-5 col-5">
                                                <i class="fas fa-mobile-alt text-purple"></i>
                                                <strong class="margin-10px-left xs-margin-four-left text-purple">Phone:</strong>
                                            </div>
                                            <div class="col-md-7 col-7">
                                                <p>(+44) 123 456 789</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-md-5 col-5">
                                                <i class="fas fa-envelope text-pink"></i>
                                                <strong class="margin-10px-left xs-margin-four-left text-pink">Email:</strong>
                                            </div>
                                            <div class="col-md-7 col-7">
                                                <p><a href="mailto://liam.deacon@lightbytestechnology.co.uk">liam.deacon@lightbytestechnology.co.uk</a></p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div style="padding-bottom: 10px;" id="skills">
                                <div class="row">
                                    <div class="col-md-7 col-7">
                                        <h5 class="font-size24 sm-font-size22 xs-font-size20">Professional Skills & Experience</h5>
                                    </div>
                                    <div class="col-md-5 col-5">
                                        <input type="text" class="fuzzy-search" placeholder="Filter Skills">
                                    </div>
                                </div>
                                <ul class="list">
                                    <li><button class="skill-tag" data-html="true" data-toggle="popover" title="<b>Team Working</b>" data-content="<a href='https://www.flaticon.com/free-icon/user_3014153' title='Image made by Freepik on flaticon.com'><img src='https://image.flaticon.com/icons/svg/3014/3014153.svg' class='popup-image'/></a>I've worked in multi-disciplinary teams ranging from 3 to 9 people, and have acted as a technical lead for some projects. I will always spend time to assist more junior members and will leverage my development experience to assist in project decision making.">Team Working</button></li>
                                    <li><button class="skill-tag" data-html="true" data-toggle="popover" title="<b>Communication</b>" data-content="<a href='https://www.flaticon.com/free-icon/group_745205' title='Image made by Freepik on flaticon.com'><img src='https://image.flaticon.com/icons/svg/745/745205.svg' class='popup-image'/></a>I've worked in teams using Agile Scrum and acted as scrum master for sprints when necessary.">Communication</button></li>
                                    <li><button class="skill-tag" data-html="true" data-toggle="popover" title="<b>Scrum Experience</b>" data-content="<a href='https://www.flaticon.com/free-icon/agile_2784065?term=agility&page=1&position=24' title='Image made by Freepik on flaticon.com'><img src='https://image.flaticon.com/icons/svg/2784/2784065.svg' class='popup-image'/></a>I've worked in teams using Agile Scrum and acted as scrum master for sprints when necessary.">Agile Methodologies</button></li>
                                    <li><button class="skill-tag" data-html="true" data-toggle="popover" title="<b>Scrum Experience</b>" data-content="<a href='https://www.flaticon.com/free-icon/agile_2649708' title='Image made by Eucalyp on flaticon.com'><img src='https://image.flaticon.com/icons/svg/2649/2649708.svg' class='popup-image'/></a>I've worked in teams using Agile Scrum and acted as scrum master for sprints when necessary.">Scrum</button></li>
                                    <li><button class="skill-tag" data-html="true" data-toggle="popover" title="<b>Kanban</b>" data-content="<a href='https://www.flaticon.com/free-icon/stack_1147091' title='Image made by Freepik on flaticon.com'><img src='https://image.flaticon.com/icons/svg/1147/1147091.svg' class='popup-image'/></a>I've worked in teams using Agile Scrum and acted as scrum master for sprints when necessary.">Kanban</button></li>
                                    <li><button class="skill-tag" data-html="true" data-toggle="popover" title="<b>CI/CD Experience</b>" data-content="<a href='https://www.flaticon.com/free-icon/mechanism_2612518' title='Image by Phatplus on flaticon.com'><img src='https://image.flaticon.com/icons/svg/2612/2612518.svg' class='popup-image'/></a>I've worked in teams using Agile Scrum and acted as scrum master for sprints when necessary.">CI/CD</button></li>
                                    <li><button class="skill-tag" data-html="true" data-toggle="popover" title="<b>DevOps</b>" data-content="<a href='https://www.flaticon.com/free-icon/infinity_2819153?term=infinity&page=1&position=55' title='Image by Vitaly Gorbachevat flaticon.com'><img src='https://image.flaticon.com/icons/svg/2819/2819153.svg' class='popup-image'/></a>I've worked in teams using Agile Scrum and acted as scrum master for sprints when necessary.">DevOps</button></li>
                                    <li><button class="skill-tag" data-html="true" data-toggle="popover" title="<b>Scrum Experience</b>" data-content="<img src='https://image.flaticon.com/icons/svg/2649/2649708.svg' class='popup-image'/>I've worked in teams using Agile Scrum and acted as scrum master for sprints when necessary.">Responsive</button></li>
                                    <li><button class="skill-tag" data-html="true" data-toggle="popover" title="<b>URL Experience</b>" data-content="<a href='https://www.flaticon.com/free-icon/database_1508840' title='Image by mynamepong at flaticon.com'><img src='https://image.flaticon.com/icons/svg/1508/1508840.svg' class='popup-image'/></a>I've worked in teams using Agile Scrum and acted as scrum master for sprints when necessary.">UML</button></li>
                                    <li><button class="skill-tag" data-html="true" data-toggle="popover" title="<b>Scrum Experience</b>" data-content="<img src='https://image.flaticon.com/icons/svg/2649/2649708.svg' class='popup-image'/>I've worked in teams using Agile Scrum and acted as scrum master for sprints when necessary.">GDPR</button></li>
                                    <li><button class="skill-tag" data-html="true" data-toggle="popover" title="<b>Scrum Experience</b>" data-content="<img src='https://image.flaticon.com/icons/svg/2649/2649708.svg' class='popup-image'/>I've worked in teams using Agile Scrum and acted as scrum master for sprints when necessary.">Stuff</button></li>
                                    <li><button class="skill-tag" data-html="true" data-toggle="popover" title="<b>Data Engineering Experience</b>" data-content="<a href='https://www.flaticon.com/free-icon/engineer_2286696?term=data%20engineer&page=1&position=1' title='Image by wanicon on flaticon.com'><img src='https://image.flaticon.com/icons/svg/2286/2286696.svg' class='popup-image'/></a>I've worked in teams using Agile Scrum and acted as scrum master for sprints when necessary.">Data Engineering</button></li>
                                    <li><button class="skill-tag" data-html="true" data-toggle="popover" title="<b>Data ETL Experience</b>" data-content="<a href='https://www.flaticon.com/free-icon/system_2286729' title='Image by wanicon on flaticon.com'><img src='https://image.flaticon.com/icons/svg/2286/2286729.svg' class='popup-image'/></a>I've worked in teams using Agile Scrum and acted as scrum master for sprints when necessary.">Data ETL</button></li>
                                    <li><button class="skill-tag" data-html="true" data-toggle="popover" title="<b>Exploratory Data Analysis Experience</b>" data-content="<a href='https://www.flaticon.com/free-icon/monitor_2782163' title='Image by xnimrodx at flaticon.com'><img src='https://image.flaticon.com/icons/svg/2782/2782163.svg' class='popup-image'/></a>I've worked in teams using Agile Scrum and acted as scrum master for sprints when necessary.">(Exploratory) Data Analysis</button></li>
                                    <li><button class="skill-tag" data-html="true" data-toggle="popover" title="<b>Dashboards Experience</b>" data-content="<a href='https://www.flaticon.com/free-icon/data_2782187' title='Image by xnimrodx on flaticon.com'><img src='https://image.flaticon.com/icons/svg/2782/2782187.svg' class='popup-image'/></a>I've worked in teams using Agile Scrum and acted as scrum master for sprints when necessary.">Data Dashboards</button></li>
                                    <li><button class="skill-tag" data-html="true" data-toggle="popover" title="<b>Reporting Experience</b>" data-content="<a href='https://www.flaticon.com/free-icon/presentation_3079029' title='Image by Becris on flaticon.com'><img src='https://image.flaticon.com/icons/svg/3079/3079029.svg' class='popup-image'/></a>I've worked in teams using Agile Scrum and acted as scrum master for sprints when necessary.">Business Reporting</button></li>
                                    <br>
                                </ul>
                            </div>
                        </div>
                    </div> <!-- Should this be here? -->
                    <div class="col-md-12">
                        <span class="fa-stack fa-2x lang-pic" data-toggle="tooltip" data-placement="right" data-html="true" title="Python Skill Level<br><b>Pythonista Ninja</b><br><img src='https://image.flaticon.com/icons/svg/1297/1297525.svg' class='lang-pic-tooltip'/>">
                            <div class="lang-pic-box">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Python-logo-notext.svg" class="fa-stack-2x" />
                                <i class="fa fa-star fa-stack-1x fa-sm" style="padding-left:0%;"></i>
                                <i class="fa fa-star fa-stack-1x fa-sm" style="padding-left:35%;"></i>
                                <i class="fa fa-star fa-stack-1x fa-sm" style="padding-left:70%;"></i>
                                <i class="fa fa-star fa-stack-1x fa-sm" style="padding-left:95%;"></i>
                                <i class="fa fa-star fa-stack-1x fa-sm" style="padding-left:114%"></i>
                                <br>
                                <p class="lang-text">Python&nbsp;</p>
                            </div>
                        </span>
                        <span class="fa-stack fa-2x lang-pic" data-toggle="tooltip" data-placement="right" data-html="true" title="HTML5 Skill Level<br><b>Code Warrior</b><br><img src='https://image.flaticon.com/icons/svg/2332/2332589.svg' class='lang-pic-tooltip'/>">
                            <div class="lang-pic-box">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/6/61/HTML5_logo_and_wordmark.svg" class="fa-stack-2x" style="left: -5px" />
                                <i class="fa fa-star fa-stack-1x fa-sm" style="padding-left:0%;"></i>
                                <i class="fa fa-star fa-stack-1x fa-sm" style="padding-left:35%;"></i>
                                <i class="fa fa-star fa-stack-1x fa-sm" style="padding-left:70%;"></i>
                                <i class="fa fa-star fa-stack-1x fa-sm" style="padding-left:95%;"></i>
                                <i class="fa fa-star fa-stack-1x fa-sm" style="padding-left:114%; color: white; -webkit-text-stroke-width: 2px; -webkit-text-stroke-color: gray; text-shadow: 0 0 8px gray;"></i>
                                <br>
                                <p class="lang-text">HTML5&nbsp;&nbsp;</p>
                            </div>
                        </span>
                        <span class="fa-stack fa-2x lang-pic" data-toggle="tooltip" data-placement="right" data-html="true" title="CSS Skill Level:<br><b>Developer</b><br><img src='https://image.flaticon.com/icons/svg/1803/1803671.svg' class='lang-pic-tooltip'/>">
                            <div class="lang-pic-box">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/d/d5/CSS3_logo_and_wordmark.svg" class="fa-stack-2x" style="left: 5px; width: 50px" />
                                <i class="fa fa-star fa-stack-1x fa-sm" style="padding-left:0%;"></i>
                                <i class="fa fa-star fa-stack-1x fa-sm" style="padding-left:35%;"></i>
                                <i class="fa fa-star fa-stack-1x fa-sm" style="padding-left:70%;"></i>
                                <i class="fa fa-star fa-stack-1x fa-sm" style="padding-left:95%; color: white; -webkit-text-stroke-width: 2px; -webkit-text-stroke-color: gray; text-shadow: 0 0 8px gray;"></i>
                                <i class="fa fa-star fa-stack-1x fa-sm" style="padding-left:114%; color: white; -webkit-text-stroke-width: 2px; -webkit-text-stroke-color: gray; text-shadow: 0 0 8px gray;"></i>
                                <br>
                                <p class="lang-text">CSS3&nbsp;&nbsp;</p>
                            </div>
                        </span>
                        <span class="fa-stack fa-2x lang-pic" data-toggle="tooltip" data-placement="right" data-html="true" title="Javascript Skill Level<br><b>Ninja</b><br><img src='https://image.flaticon.com/icons/svg/1303/1303427.svg' class='lang-pic-tooltip'/>">
                            <div class="lang-pic-box">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/d/d4/Javascript-shield.svg" class="fa-stack-2x" style="left: 5px; width: 50px" />
                                <i class="fa fa-star fa-stack-1x fa-sm" style="padding-left:0%;"></i>
                                <i class="fa fa-star fa-stack-1x fa-sm" style="padding-left:35%;"></i>
                                <i class="fa fa-star fa-stack-1x fa-sm" style="padding-left:70%;"></i>
                                <i class="fa fa-star fa-stack-1x fa-sm" style="padding-left:95%;"></i>
                                <i class="fa fa-star fa-stack-1x fa-sm" style="padding-left:114%; color: white; -webkit-text-stroke-width: 2px; -webkit-text-stroke-color: gray; text-shadow: 0 0 8px gray;"></i>
                                <br>
                                <p class="lang-text">JavaScript&nbsp;&nbsp;</p>
                            </div>
                        </span>
                        <span class="fa-stack fa-2x lang-pic" data-toggle="tooltip" data-placement="right" data-html="true" title="C Skill Level<br><b>Ninja</b><br><img src='https://image.flaticon.com/icons/svg/1303/1303427.svg' class='lang-pic-tooltip'/>">
                            <div class="lang-pic-box">
                                <img src="https://seeklogo.com/images/C/c-logo-672525892C-seeklogo.com.png" class="fa-stack-2x" style="left: 5px; width: 60px" />
                                <i class="fa fa-star fa-stack-1x fa-sm" style="padding-left:0%;"></i>
                                <i class="fa fa-star fa-stack-1x fa-sm" style="padding-left:35%;"></i>
                                <i class="fa fa-star fa-stack-1x fa-sm" style="padding-left:70%;"></i>
                                <i class="fa fa-star fa-stack-1x fa-sm" style="padding-left:95%;"></i>
                                <i class="fa fa-star fa-stack-1x fa-sm" style="padding-left:114%; color: white; -webkit-text-stroke-width: 2px; -webkit-text-stroke-color: gray; text-shadow: 0 0 8px gray;"></i>
                                <br>
                                <p class="lang-text">C&nbsp;&nbsp;</p>
                            </div>
                        </span>
                        <span class="fa-stack fa-2x lang-pic" data-toggle="tooltip" data-placement="right" data-html="true" title="C Skill Level<br><b>Ninja</b><br><img src='https://image.flaticon.com/icons/svg/1303/1303427.svg' class='lang-pic-tooltip'/>">
                            <div class="lang-pic-box">
                                <img src="https://seeklogo.com/images/C/c-logo-43CE78FF9C-seeklogo.com.png" class="fa-stack-2x" style="left: 5px; width: 60px" />
                                <i class="fa fa-star fa-stack-1x fa-sm" style="padding-left:0%;"></i>
                                <i class="fa fa-star fa-stack-1x fa-sm" style="padding-left:35%;"></i>
                                <i class="fa fa-star fa-stack-1x fa-sm" style="padding-left:70%;"></i>
                                <i class="fa fa-star fa-stack-1x fa-sm" style="padding-left:95%;"></i>
                                <i class="fa fa-star fa-stack-1x fa-sm" style="padding-left:114%; color: white; -webkit-text-stroke-width: 2px; -webkit-text-stroke-color: gray; text-shadow: 0 0 8px gray;"></i>
                                <br>
                                <p class="lang-text">C++&nbsp;</p>
                            </div>
                        </span>
                        <span class="fa-stack fa-2x lang-pic" data-toggle="tooltip" data-placement="right" data-html="true" title="C Skill Level<br><b>Ninja</b><br><img src='https://image.flaticon.com/icons/svg/1303/1303427.svg' class='lang-pic-tooltip'/>">
                            <div class="lang-pic-box">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/b/b6/Fortran.png" class="fa-stack-2x" style="left: 5px; width: 60px" />
                                <i class="fa fa-star fa-stack-1x fa-sm" style="padding-left:0%;"></i>
                                <i class="fa fa-star fa-stack-1x fa-sm" style="padding-left:35%;"></i>
                                <i class="no-fill-star fa fa-star fa-stack-1x fa-sm " style="padding-left:70%;"></i>
                                <i class="no-fill-star fa fa-star fa-stack-1x fa-sm" style="padding-left:95%"></i>
                                <i class="no-fill-star fa fa-star fa-stack-1x fa-sm" style="padding-left:114%;"></i>
                                <br>
                                <p class="lang-text">Fortran&nbsp;</p>
                            </div>
                        </span>
                        <span class="fa-stack fa-2x lang-pic" data-toggle="tooltip" data-placement="right" data-html="true" title="SQL Skill Level<br><b>Ninja</b><br><img src='https://image.flaticon.com/icons/svg/1303/1303427.svg' class='lang-pic-tooltip'/>">
                            <div class="lang-pic-box">
                                <i class="fi fi-database fa-stack-2x sql-icon" style="left: 5px; width: 60px;"></i>
                                <i class="fa fa-star fa-stack-1x fa-sm" style="padding-left:0%;"></i>
                                <i class="fa fa-star fa-stack-1x fa-sm" style="padding-left:35%;"></i>
                                <i class="fa fa-star fa-stack-1x fa-sm" style="padding-left:70%;"></i>
                                <i class="no-fill-star fa fa-star fa-stack-1x fa-sm" style="padding-left:95%"></i>
                                <i class="no-fill-star fa fa-star fa-stack-1x fa-sm" style="padding-left:114%;"></i>
                                <br>
                                <p class="lang-text">SQL&nbsp;&nbsp;</p>
                            </div>
                        </span>
                        <span class="fa-stack fa-2x lang-pic" data-toggle="tooltip" data-placement="right" data-html="true" title="C Skill Level<br><b>Ninja</b><br><img src='https://upload.wikimedia.org/wikipedia/commons/7/7a/C_Sharp_logo.svg' class='lang-pic-tooltip'/>">
                            <div class="lang-pic-box">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/7/7a/C_Sharp_logo.svg" class="fa-stack-2x" style="left: 5px; width: 60px" />
                                <i class="fa fa-star fa-stack-1x fa-sm" style="padding-left:0%;"></i>
                                <i class="fa fa-star fa-stack-1x fa-sm" style="padding-left:35%;"></i>
                                <i class="fa fa-star fa-stack-1x fa-sm" style="padding-left:70%;"></i>
                                <i class="no-fill-star fa fa-star fa-stack-1x fa-sm" style="padding-left:95%;"></i>
                                <i class="no-fill-star fa fa-star fa-stack-1x fa-sm" style="padding-left:114%;"></i>
                                <br>
                                <p class="lang-text">C#&nbsp;</p>
                            </div>
                        </span>
                        <span class="fa-stack fa-2x lang-pic" data-toggle="tooltip" data-placement="right" data-html="true" title="Java Skill Level<br><b>Ninja</b><br><img src='https://image.flaticon.com/icons/svg/1303/1303427.svg' class='lang-pic-tooltip'/>">
                            <div class="lang-pic-box">
                                <img src="https://upload.wikimedia.org/wikipedia/en/3/30/Java_programming_language_logo.svg" class="fa-stack-2x" style="left: 10px; width: 40px" />
                                <i class="fa fa-star fa-stack-1x fa-sm" style="padding-left:0%;"></i>
                                <i class="fa fa-star fa-stack-1x fa-sm" style="padding-left:35%;"></i>
                                <i class="fa fa-star fa-stack-1x fa-sm" style="padding-left:70%;"></i>
                                <i class="no-fill-star fa fa-star fa-stack-1x fa-sm" style="padding-left:95%;"></i>
                                <i class="no-fill-star fa fa-star fa-stack-1x fa-sm" style="padding-left:114%;"></i>
                                <br>
                                <p class="lang-text">Java&nbsp;&nbsp;&nbsp;</p>
                            </div>
                        </span>
                        <span class="fa-stack fa-2x lang-pic" data-toggle="tooltip" data-placement="right" data-html="true" title="VB Skill Level<br><b>Out of practice</b><br><img src='https://image.flaticon.com/icons/svg/3159/3159079.svg' class='lang-pic-tooltip'/>">
                            <div class="lang-pic-box">
                                <img src="https://upload.wikimedia.org/wikipedia/commons/4/40/VB.NET_Logo.svg" class="fa-stack-2x" style="left: 0px; top: 5px; width: 60px" />
                                <i class="fa fa-star fa-stack-1x fa-sm" style="padding-left:0%;"></i>
                                <i class="fa fa-star fa-stack-1x fa-sm" style="padding-left:35%;"></i>
                                <i class="no-fill-star fa fa-star fa-stack-1x fa-sm" style="padding-left:70%;"></i>
                                <i class="no-fill-star fa fa-star fa-stack-1x fa-sm" style="padding-left:95%;"></i>
                                <i class="no-fill-star fa fa-star fa-stack-1x fa-sm" style="padding-left:114%;"></i>
                                <br>
                                <p class="lang-text">VB.NET&nbsp;</p>
                            </div>
                        </span>
                        <span class="fa-stack fa-2x lang-pic" data-toggle="tooltip" data-placement="right" data-html="true" title="Rust Skill Level<br><b>Learning</b><br><img src='https://image.flaticon.com/icons/svg/201/201612.svg' class='lang-pic-tooltip'/>">
                            <div class="lang-pic-box">
                                <img src="https://www.rust-lang.org/logos/rust-logo-256x256.png" class="fa-stack-2x" style="left: -5px;" />
                                <i class="fa fa-star fa-stack-1x fa-sm" style="padding-left:0%;"></i>
                                <i class="fa fa-star fa-stack-1x fa-sm" style="padding-left:35%;"></i>
                                <i class="fa fa-star fa-stack-1x fa-sm" style="padding-left:70%; color: white; -webkit-text-stroke-width: 2px; -webkit-text-stroke-color: gray; text-shadow: 0 0 8px gray"></i>
                                <i class="fa fa-star fa-stack-1x fa-sm" style="padding-left:95%; color: white; -webkit-text-stroke-width: 2px; -webkit-text-stroke-color: gray; text-shadow: 0 0 8px gray"></i>
                                <i class="fa fa-star fa-stack-1x fa-sm" style="padding-left:114%; color: white; -webkit-text-stroke-width: 2px; -webkit-text-stroke-color: gray; text-shadow: 0 0 8px gray;"></i>
                                <br>
                                <p class="lang-text">Rust&nbsp;&nbsp;</p>
                            </div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>