<section id="profile">
    <div id='sections' style="padding-top: 200px;">
        <div class="container">
            <h1 class="headline page-section-heading text-center text-uppercase text-secondary mb-0">Profile</h1>
            <div class="team-single">
                <div class="row">

                    <div class="col-lg-4 col-md-5 xs-margin-30px-bottom">
                        <div class="team-single-img">
                            <img class="profile-img" src="{{ data.common.pic }}" alt="">
                        </div>
                        <div class="bg-light-gray text-center">
                            <div class="padding-30px-all md-padding-25px-all sm-padding-20px-all" style="padding-bottom: 2px">
                                <h4 class="font-size38 sm-font-size32 xs-font-size30">Liam Deacon</h4>
                                <h4 class="margin-10px-bottom font-size24 md-font-size22 sm-font-size20 font-weight-600">Software Consultant</h4>
                                <p class="sm-width-95 sm-margin-auto">I am a natural tinkerer&#44; technology enthusiast and life-long learner! <br>I love challenges and take pride in the work that I do 🚀</p>
                            </div>
                            <div class="team-single-icons">
                                <ul class="no-margin">
                                    <li><a href="https://github.com/Liam-Deacon"><i class="fab fa-github"></i></a></li>
                                    <li><a href="https://linkedin.com/in/liam-matthew-deacon"><i class="fab fa-linkedin"></i></a></li>
                                    <li><a href="https://stackoverflow.com/users/2318834/liam-deacon"><i class="fab fa-stack-overflow"></i></a></li>
                                    <li><a href="https://www.hackerrank.com/liam_m_deacon?hr_r=1"><i class="fab fa-hackerrank"></i></a></li>
                                    <li><a href="javascript:void(0)"><i class="fab fa-medium"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-8 col-md-7">
                        <div class="team-single-text padding-50px-left sm-no-padding-left">
                            <br>
                            <h4 class="margin-10px-bottom font-size24 md-font-size22 sm-font-size20 font-weight-600">About Me</h4>
                            <p class="no-margin-bottom">I'm a versatile researcher and software engineer who enjoys working on interesting ideas and concepts. </p>
                            <div class="contact-info-section margin-40px-tb">
                                <ul class="list-style9 no-margin">
                                    <li>
                                        <div class="row">
                                            <div class="col-md-5 col-5">
                                                <i class="fas fa-graduation-cap text-orange"></i>
                                                <strong class="margin-10px-left text-orange">Education:</strong>
                                            </div>
                                            <div class="col-md-7 col-7">
                                                <p><u class="dotted_underline">PhD</u> Chemistry & <u class="dotted_underline">BSc</u> (Hons) Physics (First Class)</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-md-5 col-5">
                                                <i class="far fa-gem text-yellow"></i>
                                                <strong class="margin-10px-left text-yellow">Experience:</strong>
                                            </div>
                                            <div class="col-md-7 col-7">
                                                <p>10+ Years in <u class="dotted_underline">data analysis<span>&nbsp;<i class="lni lni-stats-up"></i></span></u>, <u class="dotted_underline">programming<span> <i class="fas fa-code"></i></span></u> and <u class="dotted_underline">software engineering<span> <i class="fas fa-code-branch"></i></span></u></p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-md-5 col-5">
                                                <i class="fas fa-walking text-lightred"></i>
                                                <strong class="margin-10px-left text-lightred">Hobbies:</strong>
                                            </div>
                                            <div class="col-md-7 col-7">
                                                <p>Rasperry Pi & IoT <i class="fas fa-microchip"></i>,
                                                    Dogs <i class="fas fa-dog"></i>, Board Games <i class="fas fa-dice"></i>, Video Games <i class="fas fa-gamepad"></i> and Adventure <i class="fas fa-hiking"></i></p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-md-5 col-5">
                                                <i class="fas fa-map-marker-alt text-green"></i>
                                                <strong class="margin-10px-left text-green">Address:</strong>
                                            </div>
                                            <div class="col-md-7 col-7">
                                                <p>Hampshire, UK.</p>
                                            </div>
                                        </div>
                                    </li>
                                    <!-- <li>
                                        <div class="row">
                                            <div class="col-md-5 col-5">
                                                <i class="fas fa-mobile-alt text-purple"></i>
                                                <strong class="margin-10px-left xs-margin-four-left text-purple">Phone:</strong>
                                            </div>
                                            <div class="col-md-7 col-7">
                                                
                                            </div>
                                        </div>
                                    </li> -->
                                    <li>
                                        <div class="row">
                                            <div class="col-md-5 col-5">
                                                <i class="fas fa-envelope text-pink"></i>
                                                <strong class="margin-10px-left xs-margin-four-left text-pink">Email:</strong>
                                            </div>
                                            <div class="col-md-7 col-7">
                                                <p><a href="mailto://liam.deacon@lightbytestechnology.co.uk">liam.deacon@lightbytestechnology.co.uk</a></p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div style="padding-bottom: 10px;" id="skills">
                                <div class="row">
                                    <div class="col-md-7 col-7">
                                        <h5 class="font-size24 sm-font-size22 xs-font-size20">Professional Skills & Experience</h5>
                                    </div>
                                    <div class="col-md-5 col-5">
                                        <input type="text" class="fuzzy-search" placeholder="Filter Skills">
                                    </div>
                                </div>
                                <ul class="list">
                                    {%- for skill in data.profile.skill_tags -%}
                                    <li><button class="skill-tag" data-html="true" data-placement="bottom" data-toggle="popover" title="<b>{{ skill.title | safe }}</b>" data-content="{{ skill.popover.image | safe }}{{ skill.popover.description | safe }}">{{ skill.title | safe }}</button></li>
                                    {% endfor %}<br>
                                </ul>
                            </div>
                        </div>
                    </div> <!-- Should this be here? -->
                    <div class="col-md-12">
                        {% set stars = {"1": 0, "2": 35, "3": 70, "4": 95, "5": 114} %}
                        {%- for lang in data.profile.languages -%}
                        <!-- {{ lang.name }} -->
                        <span class="fa-stack fa-2x lang-pic" data-toggle="tooltip" data-placement="right" data-html="true"
                              title="{{ lang.name | safe }} Skill Level<br><b>{{ lang.skill_level | safe }}</b><br>{{ lang.skill_badge | safe }}">
                            <div class="lang-pic-box">
                                {{ lang.logo | safe }}
                                {%- for i_star, offset in stars -%}{% set i_star = i_star | int %}
                                <i class="{% if i_star > lang.rating %}no-fill-star {% endif %}fa fa-star fa-stack-1x fa-sm" style="padding-left:{{ offset }}%;"></i>
                                {% endfor %}
                                <br>
                                <p class="lang-text">{{ lang.name }}&nbsp;</p>
                            </div>
                        </span>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
