<!-- Terms of Use Modal -->
<div class="modal fade" id="termsOfUseModal" tabindex="-1" role="dialog" aria-labelledby="termsOfUseModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="termsOfUseModalLongTitle">Terms Of Use</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                The content within this site has taken time and effort to produce...
                As such, I would kindly ask that you acknowledge my name and this site
                when nabbing code snippets 😉.
                <br>
                <br>
                Better yet, if you could let me know
                this site has been useful via <a href="mailto://liam.deacon@lightbytestechnology.co.uk"><i class="fas fa-envelope"></i>&nbsp;email</a> or (ideally) on the feedback area of the <a href="https://github.com/Liam-Deacon/Liam-Deacon.github.io/labels/Feedback"><i class="fab fa-github"></i>&nbsp;GitHub repo</a>.
                <br><br>
                Thanks & hope you enjoyed the site 😃
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>