<!DOCTYPE html>
<html lang="en">

{% include "templates/head.njk" %}

<body>

gelgiyrghhgrkln

{%- include "templates/navbar.njk" -%}

{%- include "templates/launchpad.njk" -%}

{% include "templates/portfolio.njk" %}

{%- include "templates/profile.njk" -%}

{%- include "templates/contact.njk" -%}

{%- include "templates/footer.njk" -%}

{# Load non-essential scripts after DOM ready for performance #}
{%- include "templates/_load_scripts.njk" -%}

{# Include modal dialogs at end as these are least important #}
{%- include "templates/terms_of_use.njk" -%}

{%- include "templates/acknowledgements.njk" -%}

</body>
</html>